<body>
  <div class="container">
      <div class="report-for">
          <div class="name">
          <img id="jeremy" src="../../assets/images/time-tracking-dashboard/image-jeremy.png" alt="jeremy">
          <p>Report for</p>
          <p class="jeremy">Jeremy Robson</p>
          </div>
          <div class="dates">
          <ul>
              <li><a>Daily</a></li>
              <li><a>Weekly</a></li>
              <li><a>Monthly</a></li>
          </ul>     
          </div>
      </div>
    
    <div class="item work">
      <img src="../../assets/images/time-tracking-dashboard/icons/icon-work.svg" alt="">
      <div class="info_container">
        <div class="header">
          <h2>Work</h2>
          <img id="dots" src="../../assets/images/time-tracking-dashboard/icons/icon-ellipsis.svg" alt="ellipsis">
        </div>
        <div class="time_information">
          <div class="current_hour">5hrs</div>
          <div class="previous_hour"><span class="time_period">Last week</span> - <span class="hour">7hrs</span></div>
        </div>
      </div>
    </div>

    <div class="item play">
      <img src="../../assets/images/time-tracking-dashboard/icons/icon-play.svg" alt="">
      <div class="info_container">
        <div class="header">
          <h2>Play</h2>
          <img id="dots" src="../../assets/images/time-tracking-dashboard/icons/icon-ellipsis.svg" alt="ellipsis">
        </div>
        <div class="time_information">
          <div class="current_hour">5hrs</div>
          <div class="previous_hour"><span class="time_period">Last week</span> - <span class="hour">7hrs</span></div>
        </div>
      </div>
    </div>

    <div class="item study">
      <img src="../../assets/images/time-tracking-dashboard/icons/icon-study.svg" alt="">
      <div class="info_container">
        <div class="header">
          <h2>Study</h2>
          <img id="dots" src="../../assets/images/time-tracking-dashboard/icons/icon-ellipsis.svg" alt="ellipsis">
        </div>
        <div class="time_information">
          <div class="current_hour">5hrs</div>
          <div class="previous_hour"><span class="time_period">Last week</span> - <span class="hour">7hrs</span></div>
        </div>
      </div>
    </div>

    <div class="item exercise">
      <img src="../../assets/images/time-tracking-dashboard/icons/icon-exercise.svg" alt="">
      <div class="info_container">
        <div class="header">
          <h2>Exercise</h2>
          <img id="dots" src="../../assets/images/time-tracking-dashboard/icons/icon-ellipsis.svg" alt="ellipsis">
        </div>
        <div class="time_information">
          <div class="current_hour">5hrs</div>
          <div class="previous_hour"><span class="time_period">Last week</span> - <span class="hour">7hrs</span></div>
        </div>
      </div>
    </div>

    <div class="item social">
      <img src="../../assets/images/time-tracking-dashboard/icons/icon-social.svg" alt="">
      <div class="info_container">
        <div class="header">
          <h2>Social</h2>
          <img id="dots" src="../../assets/images/time-tracking-dashboard/icons/icon-ellipsis.svg" alt="ellipsis">
        </div>
        <div class="time_information">
          <div class="current_hour">5hrs</div>
          <div class="previous_hour"><span class="time_period">Last week</span> - <span class="hour">7hrs</span></div>
        </div>
      </div>
    </div>

    <div class="item self-care">
      <img src="../../assets/images/time-tracking-dashboard/icons/icon-self-care.svg" alt="">
      <div class="info_container">
        <div class="header">
          <h2>Self care</h2>
          <img id="dots" src="../../assets/images/time-tracking-dashboard/icons/icon-ellipsis.svg" alt="ellipsis">
        </div>
        <div class="time_information">
          <div class="current_hour">5hrs</div>
          <div class="previous_hour"><span class="time_period">Last week</span> - <span class="hour">7hrs</span></div>
        </div>
      </div>
    </div>
  </div>
</body>