<img class="background" src="../../assets/images/clipboard-landing-page/bg-header-desktop.png" alt="background">
<img class="logo-c" src="../../assets/images/clipboard-landing-page/logos/logo.svg" alt="logo-c">

<header>
    <h1>A history of everything you copy</h1>
    <p>Clipboard allows you to track and organize everything you 
        copy. Instantly access your clipboard on all your devices.</p>
    <div class="buttons">
        <button class="iOS">Download for iOS</button>
        <button class="Mac">Download for Mac</button>
    </div>
</header>
<main>
    <section class="keep-track">

        <div class="clipboard-overview__header">
            <h2>Keep track of your snippets</h2>
            <p>Clipboard instantly stores any item you copy in the cloud, 
                meaning you can access your snippets immediately on all your 
                devices. Our Mac and iOS apps will help you organize everything.</p>
            </div>

        <div class="clipboard-overview__container">
            <img class="computer" src="../../assets/images/clipboard-landing-page/image-computer.png" alt="computer">

            <div class="clipboard-overview__description">
                <div class="clipboard-overview__description-content">
                    <h3>Quick Search</h3>
                    <p>Easily search your snippets by content, category, web address, application, and more.</p>
                </div>
                <div class="clipboard-overview__description-content">
                    <h3>iCloud Sync</h3>
                    <p>Instantly saves and syncs snippets across all your devices.</p>
                </div>
                <div class="clipboard-overview__description-content">
                    <h3>Complete History</h3>
                    <p>Retrieve any snippets from the first moment you started using the app.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="access-clipboard">

        <div class="clipboard-overview__header">
            <h2>Access Clipboard anywhere</h2>
            <p>Whether you’re on the go, or at your computer, you can access all your Clipboard 
                snippets in a few simple clicks.</p>
        </div>

        <img class="devices" src="../../assets/images/clipboard-landing-page/image-devices.png" alt="devices">
    </section>

    <section class="supercharge-your-workflow">

        <div class="clipboard-partners__header">
            <h2>Supercharge your workflow</h2> 
            <p>We’ve got the tools to boost your productivity.</p>
        </div>

        <div class="clipboard-partners__container">
            <div class="clipboard-partners__container-content">
                <img src="../../assets/images/clipboard-landing-page/icons/icon-blacklist.svg" alt="">
                <h3>Create blacklists</h3>
                <p>Ensure sensitive information never makes its way to your clipboard by excluding certain sources.</p>
            </div>    
            <div class="clipboard-partners__container-content">
                <img src="../../assets/images/clipboard-landing-page/icons/icon-text.svg" alt="">
                <h3>Plain text snippets</h3>                
                <p>Remove unwanted formatting from copied text for a consistent look.</p>
            </div>
            <div class="clipboard-partners__container-content">
                <img src="../../assets/images/clipboard-landing-page/icons/icon-preview.svg" alt="">
                <h3>Sneak preview</h3>               
                <p>Quick preview of all snippets on your Clipboard for easy access.</p>
            </div> 
        </div>
            <div class="companies-logos">
                <img src="../../assets/images/clipboard-landing-page/logos/logo-google.png" alt="Google logo">
                <img src="../../assets/images/clipboard-landing-page/logos/logo-ibm.png" alt="IBM logo">
                <img src="../../assets/images/clipboard-landing-page/logos/logo-microsoft.png" alt="Microsoft logo">
                <img src="../../assets/images/clipboard-landing-page/logos/logo-hp.png" alt="HP logo">
                <img src="../../assets/images/clipboard-landing-page/logos/logo-vector-graphics.png" alt="Vector graphics logo">
            </div>
        
    </section>  

    <section class="clipboard-for-iOS-and-Mac">
        <h2>Clipboard for iOS and Mac OS</h2> 
        <p>Available for free on the App Store. Download for Mac or iOS, sync with iCloud 
            and you’re ready to start adding to your clipboard.</p>
            <div class="buttons">
                <button class="iOS">Download for iOS</button>
                <button class="Mac">Download for Mac</button>
            </div>
    </section>
</main>
<footer>
    <div class="clipboard-footer__container">
        <img class="logo-c-footer" src="../../assets/images/clipboard-landing-page/logos/logo.svg" alt="logo-c">
        <div class="footer-links">
            <a href="#">FAQs</a>
            <a href="#">Privacy Policy</a>       
            <a href="#">Install Guide</a>            
            <a href="#">Contact Us</a>             
            <a href="#">Press kit</a>
        </div>
        
        <div class="social-media">
            <img class="icon" src="../../assets/images/clipboard-landing-page/icons/icon-facebook.svg" alt="Facebook icon">
            <img class="icon" src="../../assets/images/clipboard-landing-page/icons/icon-twitter.svg" alt="Twitter icon">
            <img class="icon" src="../../assets/images/clipboard-landing-page/icons/icon-instagram.svg" alt="Instagram icon">
        </div>
    </div>
</footer>