<mat-chip-list aria-label="Fish selection">
  <mat-chip color="primary" selected><a routerLink="qr-code">QR code</a> </mat-chip>
  <mat-chip color="primary" selected><a routerLink="social-proof-section">Social proof section</a></mat-chip>
  <mat-chip color="primary" selected><a routerLink="3-column-preview-card">3-column preview card</a></mat-chip>
  <mat-chip color="primary" selected><a routerLink="huddle-landing-page">Huddle landing page</a></mat-chip>
  <mat-chip color="primary" selected><a routerLink="clipboard-landing-page">Clipboard landing page</a></mat-chip>
  <mat-chip color="primary" selected><a routerLink="tip-calculator-app">Tip calculator app</a></mat-chip>
  <mat-chip color="primary" selected><a routerLink="testimonials-grid-section">Testimonials grid section</a></mat-chip>
</mat-chip-list>
  <router-outlet></router-outlet>